[Unit]
Description=User Mode Agent Service

[Service]
Type=simple
User=root
EnvironmentFile=/bin/uma/uma-env
ExecStartPre=/bin/uma/prepare-devfile.sh
ExecStart=/bin/uma/uma
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
